@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   background-color: #eee;
}
.wrap{
    position: relative;
}
.circle {
    position: relative;
    border: 1px solid black;
    padding: 0;
    margin: 1em auto;
    width: 30em;
    height: 30em;
    border-radius: 50%;
    list-style: none;
    overflow: hidden;
    transition: transform 5s ease-in-out;
  }
  li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
  }
  .text {
    position: absolute;
    left: -100%;
    width: 200%;
    height: 200%;
    text-align: center;
    transform: skewY(60deg) rotate(15deg);
    padding-top: 40px;
  }
.text div{
    transform: rotate(90deg);
    font-size: 1.2rem;
}
li:first-child {
    transform: rotate(0deg) skewY(-60deg);
  }
  li:nth-child(2) {
    transform: rotate(30deg) skewY(-60deg);
  }
  li:nth-child(3) {
    transform: rotate(60deg) skewY(-60deg);
  }
  li:nth-child(4) {
    transform: rotate(90deg) skewY(-60deg);
  }
  li:nth-child(5) {
    transform: rotate(120deg) skewY(-60deg);
  }
  li:nth-child(6) {
    transform: rotate(150deg) skewY(-60deg);
  }
  li:nth-child(7) {
    transform: rotate(180deg) skewY(-60deg);
  }
  li:nth-child(8) {
    transform: rotate(210deg) skewY(-60deg);
  }
  li:nth-child(9) {
    transform: rotate(240deg) skewY(-60deg);
  }
  li:nth-child(10) {
    transform: rotate(270deg) skewY(-60deg);
  }
  li:nth-child(11) {
    transform: rotate(300deg) skewY(-60deg);
  }
  li:nth-child(12) {
    transform: rotate(330deg) skewY(-60deg);
  }
  li:first-child .text {
    background: green;
  }
  li:nth-child(2) .text {
    background: tomato;
  }
  li:nth-child(3) .text {
    background: aqua;
  }
  li:nth-child(4) .text {
    background: yellow;
  }
  li:nth-child(5) .text {
    background: orange;
  }
  li:nth-child(6) .text {
    background: purple;
  }
  li:nth-child(7) .text {
    background: cyan;
  }
  li:nth-child(8) .text {
    background: brown;
  }
  li:nth-child(9) .text {
    background: gray;
  }
  li:nth-child(10) .text {
    background: pink;
  }
  li:nth-child(11) .text {
    background: maroon;
  }
  li:nth-child(12) .text {
    background: gold;
  }
.rotateIn {
    transform: rotate(3400deg); 
}  
   
   
.arrow{
    position: absolute;
    left:calc(50% - 270px);
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    z-index: 5;
    
}
#result{
    position: absolute;
    width: 150px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    left:calc(50% - 425px);
    font-size: 1.2rem;
    border: 3px solid red;
    border-radius:15px ;
    padding: 0 10px;
    text-align: center;
}
@media (max-width:860px){
  .circle{
    width: 20em;
    height: 20em;
    margin-top: 100px;
  }
  .arrow{
    left:calc(50% - 200px);
    top: calc(50% + 50px);
    
  }
  #result{
    height: 35px;
    text-align: center;
    left:50%;
    transform: translateX(-50%);
    top:0%;
  }
  .col-3{
    width: 50%;
    text-align: center;
  }
}
@media (max-width:400px){
  .circle{
    width: 15em;
    height: 15em;
    margin-top: 50px;
  }
  .arrow{
    left:calc(50% - 145px);
    top: calc(50% + 10px);
    font-size: 2rem;
    
  }
  .col-3{
    width: 50%;
    text-align: center;
  }
}

    
   